*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --ff-body: 'Staatliches', cursive;
  --ff-texting: 'Palanquin', sans-serif;

  --fs-body: 1.6rem;
  --fs-title: 4rem;
  --fs-texting: 2rem; 

  --fc-title: hsl(0, 0%, 100%);

  --fc-texting: #23053A;
  --fc-span: #4A4E69;

  --bg-body: #EFF1FF;
  --bg-header: #8E9AAF;

  font-size: 62.5%;
}

body{
  background-color: var(--bg-body);
  font-family: var(--ff-body);
  font-size: var(--fs-body);
  height: 100vh;
}

header{
  background-color: var(--bg-header);
  display: flex;
  flex-direction: column;
  align-items: center;

  padding-bottom: 5rem;
}

header img{ /* logo */
  margin-top: 3.2rem;
}

header h1{ /* titulo */
  font-size: var(--fs-title);
  color: var(--fc-title);
  line-height: 3.4rem;
  letter-spacing: 0.05em;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);

  margin-top: 4rem;

  background-color: #CBC0D3;
  padding: 0.8rem;
  width: 100%;
  text-align: center;
}

header p{
  display: none;
}

.page{
  margin-bottom: 6rem;
}

main{
  display: flex;
  flex-direction: column;
  align-items: center;
}

main p{ /* Texto */
  width: 30.5rem;
  margin-top: 5rem;

  font-family: var(--ff-texting);
  line-height: 1.5rem;
  color: var(--fc-texting);

  text-align: center;
}

.card{
  position: relative;
  display: grid;
  gap: 3.2rem;
  margin-top: 5rem;
}

.card img{
  border-radius: 20px;
  width: 32rem;

  animation: downtop 1s;
}

.card span{
  display: inline-flex;
  align-items: center;
  position: absolute;
  top: 1.6rem;
  left: 19.2rem;

  background: #FEEAFA;
  height: 35px;
  border-radius: 20px;

  color: var(--fc-span);

  padding: 0 2.3rem;

  animation: typeicecream 800ms 400ms backwards;
}

@keyframes downtop{
  0%{
    opacity: 0;
    transform: translateY(100px);
  }

  100%{
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes typeicecream{
  0%{
    opacity: 0;
    transform: translateY(-15px);
  }

  50%{
    opacity: 0.5;
  }

  100%{
    opacity: 1;
    transform: translateY(0);
  }
}

@media (min-width: 800px){
  :root{
    --ff-text: 'Roboto', sans-serif;
  }

  body{
    display: flex;
  }

  main p{
    display: none;
  }

  header{
    max-width: 50rem;
    width: 100%;
  }

  header p{
    width: 37rem;
    display: block;

    font-family: var(--ff-text);
    font-size: 2.4rem;
    line-height: 2.5rem;

    text-align: center;

    color: #FFFFFF;

    margin-top: 3.2rem;
  }

  main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
      "A B C"
      "D B F"
      "D E F";
      gap: 3.2rem;

    margin: 6.4rem 9.8rem;
  }

  .card:nth-child(even) img {
    height: 350px;
  }
  .card:nth-child(odd) img {
    height: 250px;
  }

  main div:nth-child(1) {
    grid-area: A;
  }
  main div:nth-child(2) {
    grid-area: B;
  }
  main div:nth-child(3) {
    grid-area: C;
  }
  main div:nth-child(4) {
    grid-area: D;
  }
  main div:nth-child(5) {
    grid-area: E;
  }
  main div:nth-child(6) {
    grid-area: F;
  } 
}